@import url(./config/global.css);

.contenido-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
    color: #191919;
}

.contenido-menu .lado-izquierdo .contenido-izquierda .banner-findii img {
    height: 5vh;
}

.contenido-menu .lado-izquierdo .contenido-izquierda{
    display: flex;
    column-gap: 2vw;
    align-items: center;
}

.contenido-menu .lado-derecho .contenido-derecha {
    display: grid;
    grid-template-areas:
        "nombre imagen"
        "rol imagen";
    column-gap: 1vw;
    justify-items: end;
    align-items: center;
}

.contenido-derecha .nombre-usuario {
    grid-area: nombre;
}

.contenido-derecha .nombre-usuario p {
    font-weight: 500;
}

.contenido-derecha .rol-usuario {
    grid-area: rol;
}

.contenido-derecha .rol-usuario p {
    font-size: 2.2vh;
}

.contenido-derecha .imagen {
    grid-area: imagen;
}

.contenido-derecha .imagen img {
    height: 7vh;
    cursor: pointer;
}

.contenido-derecha .enlace-menu {
    color: #191919;
    font-weight: 400;
    font-size: 3vh;
}

.contenido-derecha .opciones-perfil{
    display: none;
    position: absolute;
    top: 10vh;
    border-radius: 0.5vw;
    background-color:white;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
    padding: 2vw;
}

.opciones-perfil .contenido-perfil{
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
    height: 30vh;
    width: 12vw;
}

.contenido-perfil .enlaces{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.contenido-perfil .pie-menu{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.contenido-perfil .enlaces li a{
    color: #191919;
}

.contenido-perfil .enlace{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    column-gap: 1vw;
    flex-wrap: wrap;
    row-gap: 2vh;
}
@media only screen and (max-width: 700px) {
    .opciones-perfil .contenido-perfil{
        width: 22vw;
    }


}