@import url(./config/global.css);
@import url(./menu2.css);

body{
    background-color: var(--gris);

}

.perfil-usuario {
	display: grid;
	place-content: center;
}

.perfil-usuario .contenido{
	display: grid;
	grid-template-areas: 
	"titulo titulo"
	"foto informacion";
	grid-template-rows: 15vh auto;
	grid-template-columns: 30vw 50vw;
	padding: 2vw;
	height: auto;
	min-height: 70vh;
	width: 80vw;
	border-radius: 0.5vw;
	margin-top: 3vh;
	margin-bottom: 3vh;
	background-color: var(--blanco);
}

.perfil-usuario .contenido .titulo-central{
	display: grid;
	grid-area: titulo;
	margin-left: 5vw;
	align-items: center;
}

.perfil-usuario .contenido .titulo-central p{
	font-size: 2vw;
	font-weight: 400;
}

.perfil-usuario .contenido .contenedor-foto-perfil{
	grid-area: foto;
	display: grid;
	justify-content: center;
}

.perfil-usuario .contenido .contenedor-foto-perfil .foto-perfil img{
	height: 35vh;
	width: auto;
}

.perfil-usuario .contenido .contenedor-informacion{
	display: grid;
	grid-area: informacion;
	row-gap: 2vw;
}

.perfil-usuario .contenido .contenedor-informacion .botones-perfil{
	text-align: end;
}

.perfil-usuario .contenido .contenedor-informacion .botones-perfil button{
	background-color: var(--primario);
	border: none;
    color: var(--blanco);
	border-radius: 0.5vw;
	padding: 1vw 2vw;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 1vw;
}

.perfil-usuario .contenido .contenedor-informacion .informacion-perfil{
	display: flex;
	flex-wrap: wrap;
	column-gap: 5vw;
	row-gap: 4vh;
}

.perfil-usuario .contenido .contenedor-informacion .informacion-perfil .campo .titulo p{
	font-size: 1.4vw;
}

.perfil-usuario .contenido .contenedor-informacion .informacion-perfil .campo .texto p{
	font-size: 1.2vw;
	color: #888888;
}